body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQi_NvtuJJ0ljWl5wVAFP5sfBRKDsZ4m0JSug&s);
    background-size: cover;
    width: 100%;
    height: 100%;
    
    }