body{
    background-image: url(https://st3.depositphotos.com/14862852/17647/i/380/depositphotos_176479738-stock-illustration-abstract-painting-various-colorful-brush.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    
    }